<h1>Consultant Firm</h1>

<div>
  <nav class='nav-format'>
    <%= link_to 'COMPANIES', companies_path %>
    <%= link_to 'LOCATIONS', locations_path %>
    <%= link_to 'EMPLOYEES', employees_path %>
    <%= link_to 'COURSES', courses_path %>
  </nav>
</div>
