<h1 class='header-format'>WELCOME TO THE CONSULTANT FIRM AGENCY</h1>

<h2>This application lists the companies, employees, courses, and locations of
   the companies that are created.  Each company created will have specific locations and courses with requirements for the attendees.  The companies can also list the number of employees and which department they currently
   work at.
</h2>
